{% load post_extras %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/mainPage"><font size="3" face="Candara" color="green">Twistter</font>
        <img src="/static/img/swirly.png" height=20% width=20%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if userid %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ userid }}">My Profile</a><span
                        class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out<span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/mainPage">Home</a>
                    <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/search">Friends</a>
                    <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="settingsPage">Settings</a> <span
                        class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/makePost">Make
                        Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search_page">Search</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                </div>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Log In</a><span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
</nav>
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    {% if user.profile_pic %}
                    <img id="blah" src="{{ user.profile_pic.url }}" class="img-responsive" alt="">
                    {% else %}
                    <img id="blah" src="/static/img/profile-default.jpg" class="img-responsive" alt="">
                    {% endif %}
                    {% if userid %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                <label for="file">Add New Profile Picture</label>
                                <input type="file" id="file" name="file" onchange="readURL(this);" multiple>
                            </div>
                            <div>
                                <button>Submit</button>
                            </div>
                        </form>
                    {% endif %}
                    <script type="text/javascript">
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#blah')
                                        .attr('src', e.target.result)
                                        .width(128)
                                        .height(128);
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ user.firstname }} {{ user.lastname }}
                    </div>
                    <div class="profile-usertitle-username">
                        {{ user.username }}
                    </div>
                    <div class="profile-usertitle-email">
                        {{ user.email }}
                    </div>
                    <div class="profile-usertitle-email">
                        {{ user.biography }}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->


                {% if userid %}

                {% endif %}

                <!-- Modal -->
                <form name="bio" method="POST">
                    {% csrf_token %}
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Biography</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="form-control" name="new_bio" id='new_bio'
                                               placeholder="Biography goes here"></input>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button>Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form name="edit_post" method="POST">
                    {% csrf_token %}
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="form-control"
                                               placeholder="This should store the content of the original post."
                                               name="updated_post" id='updated_post'></input>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" id="edit_post_save" name="edit_post_save">Save Changes
                                    </button>
                                    <input type="hidden" value="-1" id="post_edit_id" name="post_edit_id">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form name="updated_tags" method="POST">
                    {% csrf_token %}
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Tags</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="form-control"
                                               placeholder="This should store the tags of the post."
                                               name="edit_tags" id='edit_tags'>
                                        </input>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" id="edit_tags_save" name="edit_tags_save" onclick="editTags({{ post.id }})">Save Changes
                                    </button>
                                    <input type="hidden" value="-1" id="tags_edit_id" name="tags_edit_id">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">

                                <button type="button" class="btn btn-primary">
                                    <a href="#"><font color="white">Help</font></a>
                                </button>

                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% user_posts user as posts %}
    {% for post in posts %}
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <p class="card-text" id="post_content_{{ post.id }}">{{ post.content }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <!-- Button trigger modal -->
                        {% if userid == user.id %}
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                    data-target="#exampleModal2" onclick="hotLatina({{ post.id }})">
                                Edit
                            </button>
                            <form id="edit_tags_form" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                        data-target="#exampleModal3">
                                    Edit Tags
                                </button>
                            </form>
                            <form id="delete" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-outline-secondary " id="delete_post"
                                        name="delete_post" value="{{ post.id }}">
                                    Delete Post
                                </button>
                            </form>
                            <form id="like_post_form" method="post">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-secondary " id="like_post" name="like_post"
                                        type="submit" value="{{ post.id }}">
                                    Like
                                </button>
                            </form>
                        {% else %}
                            <a class="btn btn-sm btn-outline-secondary" href="/report/{{ post.id }}">Report Post</a>
                        {% endif %}
                    </div>
                </div>
                <ul>Tags:
                    {% for tag in post.tag_set.all %}
                    <li>{{ tag.name }}
                    {% endfor %}
                    <br>
                    Likes: {{ post.likers.count }}
                </ul>
                <small class="text-muted">{{ post.created }}</small>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    function hotLatina(id) {
        document.getElementById("post_edit_id").value = id;
        document.get
    }
</script>
<script>
    function liked(id) {
        document.getElementById("liked_id").value = id;
    }
</script>
<script>
    function editTags(id) {
        document.getElementById("tags_edit_id").value = id;
    }
</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<br>
<br>
</html>
