<!DOCTYPE html>
<html>

<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8/>
    <link href="/static/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/updateprofilepic.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; height: 70.5px;">
      <a class="navbar-brand" href="/mainPage"><font size="3" face="Candara" color="green">Twistter</font></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              {% if userid %}
              <li class="nav-item">
                  <a class="nav-link" href="/users/{{ userid }}">My Profile</a><span
                      class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out<span class="sr-only"></span></a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/mainPage">Home</a> <span
                      class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/search">Friends</a>
                  <span
                          class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/settingsPage">Settings</a> <span
                      class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/makePost">Make Post</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/search_page">Search</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/chatNav">Chat</a>
              </li>
          </ul>
          <!--<form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>-->
      </div>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/">Log In</a><span class="sr-only">(current)</span></a>
    </li>
    {% endif %}
</nav>
<form name="add_member_modal" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Add Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control"
                               placeholder="Username of new member"
                               name="add_member" id='add_member'></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="submit" id="add_member_save" name="add_member_save">Add Member
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<form name="remove_member_modal" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Remove Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control"
                               placeholder="Username of member to remove"
                               name="remove_member" id='remove_member'></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="submit" id="remove_member_save" name="remove_member_save">Remove Member
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center">
                    Chats
                </div>
                <ul class="list-group list-group-flush">
                    <!-- This will need to be some sort of for loop which iterates over all the existing chat objects. -->
                    {% for chat in all_chats %}
                    <form action="/chatPage/{{ chat.id }}">
                        <button class="list-group-item btn-block" type="submit">{{ chat.name }}</button>
                    </form>
                    {% endfor %}
                </ul>
                <div class="card-header text-center">
                    Chat Options
                </div>
                <form id="add_chat_button"
                name="add_chat_button" action="/chatNav">
                    {% csrf_token %}
                    <input style="width: 100%; height: 100%;" type="submit" name="add_chat" value="Add Chat"/>
                </form>
                {% if userid == chat.creator.id %}
                  <form id="delete_chat_button"
                  name="remove_chat_button" action="" method="post">
                      {% csrf_token %}
                      <input style="width: 100%; height: 100%;" type="submit" name="delete_chat" value="Delete Chat"/>
                  </form>
                {%else%}
                  <form id="leave_chat_button"
                  name="leave_chat_button" action="" method="post">
                      {% csrf_token %}
                      <input style="width: 100%; height: 100%;" type="submit" name="leave_chat" value="Leave Chat"/>
                  </form>
                {%endif%}
            </div>
        </div>
        <div class="col-8">
            <form method="POST" name="create_message">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="postinput" maxlength="100" name="postinput" placeholder="Talk.." rows="2"></textarea>
                </div>
                <button class="btn btn-primary btn-block" id="send_message" name='send_message' type="submit">Send
                </button>
            </form>
            <br>

            {% for message in chat.message_set.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ message.creator.username }}</h5>
                    <p class="card-text">{{ message.content }}</p>
                    <p> {{ message.created }} </p>
                    {% if userid == message.creator.id %}
                      <form id="leave_chat_button"
                      name="leave_chat_button" action="" method="post">
                          {% csrf_token %}
                          <input type="submit" name="delete_message" value="Delete"/>
                      </form>
                    {% elif userid == chat.creator.id %}
                      <form id="leave_chat_button"
                      name="leave_chat_button" action="" method="post">
                          {% csrf_token %}
                          <input type="submit" name="delete_message" value="Delete"/>
                      </form>
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header text-center">
                    Chat Members
                </div>
                <ul class="list-group list-group-flush">
                    <!-- This will need to be some sort of for loop which iterates over all the existing chat objects. -->
                    {% for member in chat.members.all %}
                    <form action=/users/{{ member.id }}>
                        {% if member.id == chat.creator.id %}
                        <button class="list-group-item btn-block" type="submit">[Admin] {{ member.username }}</button>
                        {% else %}
                        <button class="list-group-item btn-block" type="submit">{{ member.username }}</button>
                        {% endif %}
                    </form>
                    {% endfor %}
                </ul>
                {% if userid == chat.creator.id %}
                  <div class="card-header text-center">
                      Member Options
                  </div>
                  <button class="btn btn-sm btn-outline-secondary" data-target="#exampleModal2"
                          data-toggle="modal"
                          id="create_chat_button" name="create_chat_button"
                          type="button">
                      Add Member
                  </button>
                  <button class="btn btn-sm btn-outline-secondary" data-target="#exampleModal3"
                          data-toggle="modal"
                          id="remove_chat_button" name="remove_chat_button"
                          type="button">
                      Remove Member
                  </button>
                {% endif %}
            </div>
        </div>

        <script crossorigin="anonymous"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </div>

</body>
</html>
<script>
    function getTheStrReady() {
// Trimmed string
        var inputVal = document.getElementById("new_bio").value;
        var finputVal = inputVal.toLowerCase().replace(/\s+/, "");
        document.getElementById("tags-demo").innerHTML += finputVal + ", ";
        return finputVal;
    }
</script>
