<!DOCTYPE html>
<html>

<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8/>
    <link href="/static/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/updateprofilepic.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/mainPage"><font color="green" face="Candara" size="3">Twistter</font>
        <img height=20% src="/static/img/swirly.png" width=20%></a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if userid %}
            <li class="nav-item">
                <a class="nav-link" href="/users/{{ userid }}">My Profile</a><span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out<span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/mainPage">Home</a> <span
                    class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/search">Friends</a>
                <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/settingsPage">Settings</a> <span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/makePost">Make Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search_page">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chatNav">Chat</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>

    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/">Log In</a><span class="sr-only">(current)</span></a>
    </li>
    {% endif %}
</nav>

<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    Chats
                </div>
                <ul class="list-group list-group-flush">
                    <!-- This will need to be some sort of for loop which iterates over all the existing chat objects. -->
                    {% for chat in all_chats %}
                    <li class="list-group-item">{{ chat.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-10">
            {% for message in chat.message_set.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ message.creator.username }}</h5>
                    <p class="card-text">{{ message.content }}</p>
                    <p> {{ message.created }} </p>
                    <a class="btn btn-primary" href="#">Delete</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>

        <div class="container-fluid">
            <form method="POST" name="create_message">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="postinput" maxlength="100" name="postinput" placeholder="Talk.."
                              rows="2" style="max-width: 60%"></textarea>
                </div>
                <button class="btn btn-outline-secondary" id="send_message" name='send_message' type="submit">Send
                </button>
            </form>
        </div>
    </div>

    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>

</body>
</html>
<script>
    function getTheStrReady() {
// Trimmed string
        var inputVal = document.getElementById("new_bio").value;
        var finputVal = inputVal.toLowerCase().replace(/\s+/, "");
        document.getElementById("tags-demo").innerHTML += finputVal + ", ";
        return finputVal;
    }
</script>
