<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
	  <link rel="stylesheet" href="/static/css/bootstrap.css">
	  <link rel="stylesheet" href="/static/css/log-in.css">
</head>
<body>
	<div class="container regcontain">
		<div class="row">
			<div class="col">
				<div class="text-center">
	    			<br>
	    		</div>
	    	</div>
	    </div>
	  <div class="row">
	    <div class="col">
	      <div class = "register">
	      		
	      		<div class ="text-center">
	      			<img src="/static/img/LogoFinal.png">
					<h2>Login</h2>
					<hr>
				</div>
			<form>

				<div class="form-group">
			    <label for="usernameinput">Username</label>
			    <input type="text" class="form-control" id="usernameinput" placeholder="Enter username">
			  </div>


			  <div class="form-group">
			    <label for="passwordinput">Password</label>
			    <input type="password" class="form-control" id="passwordinput" placeholder="Enter Password">
			  </div>
			  <div class="text-center">
                  <input type="button" onclick="window.location.href = 'mainPage';" value="Already have an account? Click here to log in!">
			  </div>
			</form>
		  </div>
	    </div>
	  </div>
	</div>
	

</body>
</html>
