<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
	  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	<div class="container">
	  <div class="row">
	    <div class="col">
	    </div>
	    <div class="col">
	    </div>
	    <div class="col">

	      <div class = "register">
          <form name="myForm" onsubmit="return formValidate()" method="POST" action="/register">
            {% csrf_token %}
				<h2>Register</h2>
				<hr>
				<div class="form-group">
			    <label for="nameinput">Name</label>
			    <input type="text" class="form-control" name="nameinput" id="nameinput" placeholder="Enter name">
			  </div>
				<div id="checkbox1">
					<h6>Name must contain the following:</h6>
					<p id="onlyAlpha" class="invalid">Only <b>alphabetical</b> characters</p>
					<p id="firstLast" class="invalid">Only <b>first and last</b> name</p>
					<p id="nameLength" class="invalid">Length of <b>2 to 30</b> characters</p>
				</div>
				<div class="form-group">
			    <label for="usernameinput">Username</label>
			    <input type="text" class="form-control" name="usernameinput" id="usernameinput" placeholder="Enter username">
			  </div>
				<div id="checkbox2">
					<h6>Username must contain the following:</h6>
					<p id="noSpace" class="invalid">No <b>spaces or special characters</b> allowed</p>
					<p id="usernameLength" class="invalid">Length of <b>3 to 30</b> characters</p>
				</div>
			  <div class="form-group">
			    <label for="emailinput">Email address</label>
			    <input type="email" class="form-control" name="emailinput" id="emailinput" placeholder="name@example.com" required>
			  </div>
			  <div class="form-group">
			    <label for="passwordinput">Password</label>
			    <input type="password" class="form-control" name="passwordinput" id="passwordinput" placeholder="Enter Password">
			  </div>
				<div id="checkbox4">
					<h6>Password must contain the following:</h6>
					<p id="case" class="invalid">A <b>lowercase and uppercase</b> character</p>
					<p id="number" class="invalid">A <b>numberical</b> character</p>
					<p id="passLength" class="invalid">Length of <b>8 to 30</b> characters</p>
				</div>
			  <div class="form-group">
			    <label for="confirmpasswordinput">Confirm Password</label>
			    <input type="password" class="form-control" name="confirmpasswordinput" id="confirmpasswordinput" placeholder="Re-enter Password">
			  </div>
				<button type="submit" class="btn btn-primary" value="Submit">Sign up</button>
				<script>
					//Name Checkbox
					var nameId = document.getElementById("nameinput");
					var onlyAlphaTest = false;
					var firstLastTest = false;
					var nameLengthTest = false;
					nameId.onfocus = function(){
						document.getElementById("checkbox1").style.display = "block";
					}
					nameId.onblur = function(){
						document.getElementById("checkbox1").style.display = "none";
					}
					nameId.onkeyup = function(){
						var firstLastId = document.getElementById("firstLast");
						var onlyAlphaId = document.getElementById("onlyAlpha");
						var nameLengthId = document.getElementById("nameLength");
						var alphabet = /^[A-Za-z ]+$/;
						if(nameId.value.match(alphabet)){
							onlyAlphaId.classList.remove("invalid");
							onlyAlphaId.classList.add("valid");
							onlyAlphaTest = true;
						}else{
							onlyAlphaId.classList.remove("valid");
							onlyAlphaId.classList.add("invalid");
							onlyAlphaTest = false;
						}
						var regName = /^[A-Za-z]+ [A-Za-z]+$/;
						if(nameId.value.match(regName)){
							firstLastId.classList.remove("invalid");
							firstLastId.classList.add("valid");
							firstLastTest = true;
						}else{
							firstLastId.classList.remove("valid");
							firstLastId.classList.add("invalid");
							firstLastTest = false;
						}
						if((nameId.value.length >= 2)
								&& (nameId.value.length <= 30)){
							nameLengthId.classList.remove("invalid");
							nameLengthId.classList.add("valid");
							nameLengthTest = true;
						}else{
							nameLengthId.classList.remove("valid");
							nameLengthId.classList.add("invalid");
							nameLengthTest = false;
						}
					}
					//Username Checkbox
					var usernameId = document.getElementById("usernameinput");
					var noSpaceTest = false;
					var usernameLengthTest = false;
					usernameId.onfocus = function(){
						document.getElementById("checkbox2").style.display = "block";
					}
					usernameId.onblur = function(){
						document.getElementById("checkbox2").style.display = "none";
					}
					usernameId.onkeyup = function(){
						var noSpaceId = document.getElementById("noSpace");
						var usernameLengthId = document.getElementById("usernameLength");
						var specialCharacters = /[!@#$%^&*(),.?":{}|<>]/g;
						if(!(usernameId.value.match(' ')
							|| usernameId.value.match(specialCharacters))
							&& usernameId.value.length > 0){
							noSpaceId.classList.remove("invalid");
							noSpaceId.classList.add("valid");
							noSpaceTest = true;
						}else{
							noSpaceId.classList.remove("valid");
							noSpaceId.classList.add("invalid");
							noSpaceTest = false;
						}
						if((usernameId.value.length >= 3)
								&& (usernameId.value.length <= 30)){
							usernameLengthId.classList.remove("invalid");
							usernameLengthId.classList.add("valid");
							usernameLengthTest = true;
						}else{
							usernameLengthId.classList.remove("valid");
							usernameLengthId.classList.add("invalid");
							usernameLengthTest = false;
						}
					}
					//Password Checkbox
					var pass = document.getElementById("passwordinput");
					var confpass = document.getElementById("confirmpasswordinput");
					pass.onfocus = function(){
						document.getElementById("checkbox4").style.display = "block";
					}
					pass.onblur = function(){
						document.getElementById("checkbox4").style.display = "none";
					}
					confpass.onfocus = function(){
						document.getElementById("checkbox4").style.display = "block";
					}
					confpass.onblur = function(){
						document.getElementById("checkbox4").style.display = "none";
					}
					var caseTest = false;
					var numberTest = false;
					var passLengthTest = false;
					pass.onkeyup = function(){
						var caseId = document.getElementById("case");
						var numberId = document.getElementById("number");
						var passLengthId = document.getElementById("passLength");
						var lowerCaseLetters = /[a-z]/g;
						var upperCaseLetters = /[A-Z]/g;
						if(pass.value.match(lowerCaseLetters)
									&& pass.value.match(upperCaseLetters)){
							caseId.classList.remove("invalid");
							caseId.classList.add("valid");
							caseTest = true;
						}else{
							caseId.classList.remove("valid");
							caseId.classList.add("invalid");
							caseTest = false;
						}
						var numericalCharacters = /[0-9]/g;
						if(pass.value.match(numericalCharacters)){
							numberId.classList.remove("invalid");
							numberId.classList.add("valid");
							numberTest = true;
						}else{
							numberId.classList.remove("valid");
							numberId.classList.add("invalid");
							numberTest = false;
						}
						if((pass.value.length >= 8)
								&& (pass.value.length <= 30)){
							passLengthId.classList.remove("invalid");
							passLengthId.classList.add("valid");
							passLengthTest = true;
						}else{
							passLengthId.classList.remove("valid");
							passLengthId.classList.add("invalid");
							passLengthTest = false;
						}
					}
					//formValidate()
					function formValidate(){
            console.log("validating form...");
						//Name Validation
						if(!(onlyAlphaTest && nameLengthTest && firstLastTest)){
							alert("Please Complete The Name Field Correctly.");
							return false;
						}
						//Username Validation
						if(!(noSpaceTest && usernameLengthTest)){
							alert("Please Complete the Username Field Correctly.");
							return false;
						}
						//Password Validation
						if(!(passLengthTest && numberTest && caseTest)){
							alert("Please Complete The Password Field Correctly.");
							return false;
						}
						//Check Confirm Password
						if(confpass.value != pass.value){
							alert("Passwords are not matching.")
							return false;
						}
						alert("Worked!");
						return true;
					}
				</script>
			</form>
		  </div>
	    </div>
	  </div>
	</div>
</body>
</html>
