<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>



<div class="text-center">
    <div class="custom-padding">
        <nav>
            <div class="logo">Logo</div>
            <ul class="menu-area">
                {% if userid %}
                    <li><a href="#">Home</a></li>
                    <li><a href="users/{{ userid }}">My Profile</a></li>
                    <li><a href="makePost">Make Post</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="settingsPage">Settings</a></li>
                    <li><a href="logout">Log Out</a></li>
                {% else %}
                    <li><a href="/">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="scream1.jpeg" alt="Card image cap" height="180" width="180">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="scream2.jpg" alt="Card image cap" height="180" width="180">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="scream3.jpg" alt="Card image cap" height="180" width="180">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
</body>
</html>
