<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link href="{% static 'css/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/mainPage"><font color="green" face="Candara" size="3">Twistter</font>
        <img height=20% src="/static/img/swirly.png" width=20%></a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if userid %}
            <li class="nav-item">
                <a class="nav-link" href="users/{{ userid }}">My Profile</a><span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Log Out<span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/mainPage">Home</a> <span
                    class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="search">Friends</a>
                <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="settingsPage">Settings</a> <span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="makePost">Make Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="search_page">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="chatNav">Chat</a>
            </li>
        </ul>
    </div>

    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/">Log In</a><span class="sr-only">(current)</span></a>
    </li>
    {% endif %}
</nav>

<div class="row">
</div>
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div align="center" class="form-group">
        <textarea class="form-control" id="postinput" maxlength="100" name="postinput" placeholder="Add a post here..."
                  rows="2" style="max-width: 60%"></textarea>
    </div>
    <div align="center" class="form-group">
        <textarea class="form-control" id="taginput" maxlength="100" name="taginput"
                  placeholder="Add tags here separated by commas" rows="2" style="max-width: 60%"></textarea>
    </div>
    <div align="center" class="form-group">
        <div class="col-3">
            <input id="image" name="image" type="file">
            <input id="private" name="private" type="checkbox" value="private">
            Make post private?
        </div>
        <div class="text-center">
            <input class="btn btn-primary mb-2 vw-100" style="max-width: 60%" type="submit" value="Send Post">
        </div>
    </div>
</form>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
<script>
    function getTheStrReady() {
// Trimmed string
        var inputVal = document.getElementById("new_bio").value;
        var finputVal = inputVal.toLowerCase().replace(/\s+/, "");
        document.getElementById("tags-demo").innerHTML += finputVal + ", ";
        return finputVal;
    }
</script>
