<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
	  <link rel="stylesheet" href="/static/css/bootstrap.css">
	  <link rel="stylesheet" href="/static/css/log-in.css">
</head>
<body>
    <div class="container regcontain">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
			    <label for="postinput">Post</label>
			    <input type="text" class="form-control" id="postinput" placeholder="Enter post" name="postinput">
			  </div>
			  <div class="text-center">
                  <input type="submit" onclick="window.location.href = 'mainPage';" value="Post">
              </div>
        </form>
    </div>
</body>
</html>