<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#"><font size="3" face="Candara" color="green">Twistter</font>
          <img src="/static/img/swirly.png" height=20% width=20%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

              {% if userid %}
                  <li class="nav-item active">
                      <a class="nav-link" href="users/{{ userid }}">My Profile</a><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="logout">Log Out<span class="sr-only"></span></a>
                  </li>

                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home</a> <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="search">Friends</a><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="settingsPage">Settings</a><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="makePost">Make Post</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="search_page">Search</a>
                  </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  </div>

              {% else %}
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Log In</a><span class="sr-only">(current)</span></a>
                  </li>
              {% endif %}
  </nav>
<div class="container">
    <div class="register">
        <div class="col align-self-center">
            <h2 class="col align-self-center">Search Filter</h2>
            <hr>
            <form method="post">{% csrf_token %}
              Date <input type="text" name="date_search" placeholder="mm/dd/yyyy" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d">
              <input type="submit" name="date_search_update" value="Search"><br>
            </form>
            <form method="post">{% csrf_token %}
                Word <input type="text" name="word_search" placeholder="Enter word" pattern="[a-zA-Z0-9]+">
                <input type="submit" name="word_search_update" value="Search"><br>
            </form>
            <form method="post">{% csrf_token %}
              Tag <input type="text" name="tag_search" placeholder="Enter tag" pattern="[a-zA-Z0-9]+">
              <input type="submit" name="tag_search_update" value="Search"><br>
            </form>
            <form method="post">{% csrf_token %}
              User <input type="text" name="user_search" placeholder="Enter user" pattern="[a-zA-Z0-9]+">
              <input type="submit" name="user_search_update" value="Search"><br>
            </form>
            <form method="post">{% csrf_token %}
              Tag/User <input type="text" name="tag_user_search" placeholder="Enter tag/user" pattern="[a-zA-Z0-9]+/[a-zA-Z0-9]+">
              <input type="submit" name="tag_user_search_update" value="Search"><br>
            </form>
        </div>
</body>
</html>
